<% provide(:title, "Test") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Test</h1>
    <p>
      This is probably the great view
      I have ever, ever.. created in
      my life.
    </p>
  </body>
</html>
